# Server Configuration
CV_SERVER_PORT=3005
NODE_ENV=development

# Database Configuration
CV_SERVER_DB_NAME=campus.db
CV_DB_DIR=maps/
CV_SERVER_USE_TABLE_PREFIX=true
CV_SERVER_TABLE_PREFIX=refined_
CV_SERVER_DONT_OVERWRITE_MAP_POINTS=false

# Image and Media Configuration
CV_KEYFRAME_IMG_DIR=pictures/
CV_SERVER_FLOORPLAN_IMG_DIR=floorplans/
CV_SERVER_KEYFRAME_IMG_EXTENSION=.png

# Feature Flags
NEIGHBOURS_INCLUDES_PROXIMITY=false
IS_FLOORPLANS_EXISTS=true

# Coordinate System
CV_COORDS_TO_METRES=10